<div class="row">
<h1>Join Document Vault!!</h1>
<%= form_for(@user) do  |f|%>
    <%= render 'shared/errors', object: f.object %>
    <div class="small-5">
    <%= f.label :name %>
    <%= f.text_field :name,  placeholder: "Name" %>
    </div>
    <div class="small-5">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div class="small-5">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password" %>
    </div>
    <div class="small-5">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm"  %>
    </div>
    <%= f.submit "Join" %>
    </div>
    <% end %>
