<h1>New Document</h1>

<%= form_for(@document) do |f| %>
     <%= render 'shared/errors', object: f.object %>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Title" %><br><br>
    <%= f.label :link %>
    <%= f.text_field :link, placeholder: "Link" %><br><br>
    <%= f.label :tag %>
    <%= f.text_field :tag, placeholder: "Tag" %><br><br>
    <%= f.label :department %>
    <%= f.select :department, Document::DEPARTMENT_LIST %><br><br>
    <%= f.submit "Reposite"%>
    <% end %>

